#mini_map_container {
    
}
canvas#mini_map {
    position:absolute;
}
canvas#mini_map_objects {
    position:absolute;
}

#ceiling {
    background-color: rgb(96, 96, 96);
    height: 50%;
    position: absolute;
    width: 100%;
}

#floor {
    background-color: rgb(128, 128, 128);
    height: 100%;
    position: absolute;
    width: 100%;
}

#screen {
    border: 1px solid black;
    height: 200px;
    overflow: hidden;
    position: relative;
    width: 320px;
}
